@page
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrustIMS</title>
    <script src="./js/fullpage.js" defer></script>
    <link rel="stylesheet" href="css/fullpage.css" />
</head>
<body>
    <header>
        <div class="navigation">
            <div class="logo">
                <img src="~/pictures/logo.png"/>

            </div>
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="register">Register</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="products">

        </div>
        
    </main>
   
    <footer>
    </footer>

</body>
</html>
