@page
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrustIMS</title>
    <link rel="stylesheet" href="css/styles.css" />
    <script src="js/index.js" defer></script>

</head>
<body>
    <header>
        <div class="navigation">
            <div class="logo">
                <img src="~/pictures/logo.png" />
                

            </div>
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="Register">Register</a></li>
                    <li><a href="Products">Add</a></li>
                    
                </ul>
            </nav>
        </div>
        <div class="landing">
            <div class="text">
                <h1>Write Reviews.</h1>
                <h1>Find new Products.</h1>
            </div>
            <img src="./pictures/lupe.png" alt="">
        </div>

        <div class="categories">
            <div class="container">
                <div class="box">
                    <img src="./pictures/mouse.svg" alt="mouse" height="20px">
                    <p>mouse</p>
                </div>
                <div class="box">
                    <img src="./pictures/keyboard.svg" alt="keyboard" height="20px">
                    <p>keyboard</p>
                </div>
                <div class="box">
                    <img src="./pictures/headset.svg" alt="headset" height="20px">
                    <p>headset</p>
                </div>
                <div class="box">
                    <img src="./pictures/controller.svg" alt="controller" height="20px">
                    <p>controller</p>

                </div>
                <div class="box">
                    <img src="./pictures/cpu.svg" alt="cpu" height="20px">
                    <p>cpu</p>
                </div>
                <div class="box">
                    <img src="./pictures/phone.svg" alt="phone" height="20px">
                    <p>phone</p>

                </div>
            </div>

        </div>
    </header>

    <main>
        <div class="products">
        </div>

    </main>

    <footer>
    </footer>

</body>
</html>
