@page
@model M295_Project_V1._0.pages.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="view">
        <label>
            <span>E-Mail: </span>
            <input type="email" id="login-email" required>
        </label>
        <label>
            <span>Password: </span>
            <input type="password" id="login-password" required>
        </label>
        <button type="submit">Login</button>
        <div id="login-error"></div>
    </form>
</body>
</html>
